[2014-04-18 01:53] forfuns opened #2 "proplem : .join(self.prefix, '_rels', path.basename(workbookPath) + '.rels')).asText())."
my english no good,so pls try understand my word.

I learn a nodejs , build a project,I need a module export xlsx file, and I find xlsx-template ,
but something dont work and I dont work , and I cant fix,
so I find your contact , write a email , hope you can help me, thx!

the error msg:
[code]
and my code like this:
[code]

[2014-10-15 19:00] djholly123 opened #5 "Is this still supported ?"
Looks like a good idea especially if template preserves formatting so Pivots etc still work when data swapped out.

[2014-12-02 16:03] RobBrennan opened #6 ""undefined" substituted for missing JSON value"
I love this project! Is there a way to prevent having "undefined" substituted for a missing value? I would like to generate a report where some of the columns may have data, and others it may not apply so they should be empty.

[2014-12-02 16:46] RobBrennan opened #7 "Ability to dynamically add formula into cell"
Is there a way to specify a formula for a cell explicitly? I have a value of something like this in my data:
  "formula": "=SUM(B12:B26)"

It correctly puts it in the generated spreadsheet as a formula value, but it doesn't actually trigger calculating the value until I go into the cell and hit the enter key.

[2015-01-15 11:02] ztripez commented on #2
I've got this aswell.

[2015-02-02 15:25] edi9999 commented on #7
Have you found a way to do this ?

[2015-02-09 13:18] limplash commented on #2
I got the same problem, but the module is working fine on linux.. if you guys are running on windows then please note the following changes that i made to make it work in windows.
Main reason  for the  error: The files in archive are indexed with linux style PATH naming, but the path module used to generate the path is creating windows style path (which it should do as we are on windows) so I have

[2015-04-13 11:52] djholly123 commented on #2
hi

tried this and it worked now able to use the module on windows ... many thanks!

[2015-06-09 10:12] vp-vsean commented on #2
Thanks, limplash. I appreciate you work :)

[2015-10-01 15:16] optilude commented on #6
I think you need to prep your data so that this doesn't happen. Happy to take a PR to look at it, but it seems kind of difficult.

[2015-10-01 15:17] #6 closed

[2015-10-01 15:18] optilude commented on #7
I don't know enough about the Excel format to know how this would work.

[2015-10-01 15:19] optilude commented on #5
I am not actively working on the project, but I did just merge a bunch of pull requests ;)

[2015-10-01 15:19] #5 closed

[2015-10-01 15:20] optilude commented on #2
I merged a PR that should have fixed this, try the latest code from github.

[2015-10-01 15:20] #2 closed

[2016-01-29 16:35] jaider2523 opened #14 "How to download file?"
Hi,

How to download file from server.....and.....how to retrieve in the frontend....

[code]

//Frontend...
Get ajax?

[2016-01-31 05:37] mrothberg commented on #14
I'm not sure if this is the optimal solution, as it seems a little hacky, but it works and its what I'm doing in my application.
In the backend, I use res.download() to send back the file that the template generated, after saving it to disk.
In the frontend (I'm using angular.js), I create a blob to hold the binary content that the backend returns. I then create a link to the blob (fileURL) object

[2016-01-31 17:08] jaider2523 commented on #14
Hi,

Thanks for your answer, but i don't want save the file on the disk after send to user, because is a spend unnecesary the space, It's my point of view. But your idea can work, i will to try.

Thanks...

[2016-02-03 16:09] jaider2523 commented on #14
Hi,

The code ......with minor changes it worked. Thanks.

[2016-02-13 01:36] jkramp opened #15 "Header / Footer variables"
I have just tested this module and it seems to be working great. The only issue I have found that is not working is when I use ${someVariable} in the header or footer of an XLSX file, all that appears is is the variable name ... ${someVariable}. should the substitution be working in headers and footers? If not, I would like to request that as a feature / enhancement if that is possible.

[2016-02-27 17:42] jaider2523 opened #16 "Write into multiple sheets..."
Hi,

Is posible write the values into multiples sheets of a workbook........?

Thanks.

[2016-03-01 21:19] mrothberg commented on #7
I know this is an old thread, but this should work now. The calculation chain gets rebuilt now and the formulas automatically evaluate instead of having to press enter on each cell.

[2016-03-01 21:20] mrothberg commented on #14
I know this is a late reply, but glad it worked!

[2016-03-21 08:07] Clan-Utility opened #17 "Write to merged cells"
When I write tables, if ${table:people.name} is put in a merged cell, after calling template.substitute(), people.name is correctly placed in the merged cell only for the first row. For the following rows, people.name is placed in the 1st cell of the merged cell.

Any hint to solve that?

[2016-04-08 09:05] woodenfish commented on #17
@Clan-Utility , I have this problem too. Do you have any solution?

[2016-04-08 14:40] Clan-Utility commented on #17
Sadly no ...

[2016-04-09 07:21] woodenfish commented on #17
@Clan-Utility I have fix this problem, just look at https://github.com/woodenfish/xlsx-template. And I will make a pull request to the master branch.

[2016-04-11 05:50] Clan-Utility commented on #17
Tested. It works!
But for some cells, borders (top or bottom) are not set. No clue what caused the problem.

[2016-04-11 07:32] woodenfish commented on #17
@Clan-Utility  Already fixed, Please pull and try again.

[2016-04-15 04:21] Clan-Utility commented on #17
@woodenfish It's perfect!

[2016-04-15 04:21] #17 closed

[2016-05-26 14:59] mgrivera opened #19 "Can I use this library on Windows"
Hi,
as per issues #1 and #2, this library had some problems in the past when used in Windows. My question is: were those problems solved? and, if they were, does the last version on npm, 0.0.3, contain this correction?

I'm doing a very simple sample but with no success. Excel always refuses to open the resulting file saying that the file is damaged and can't be opened.

I really need this library

[2016-06-07 09:47] pazalvin opened #20 "Can i set the Column Header to be dynamic?"
Can i set the Column Header to be dynamic?

[2016-06-23 18:28] tolgakurt commented on #7
Unfortunately, it does not work.

[2016-08-04 14:41] wombat86 opened #21 "Dates corrupt file in Excel 2016 (v15.24) on Mac"
I'm creating a table template with date column. After substitution is done and I open result in Excel I get the message saying that the file is corrupt and Excel proposes to try repairing this file.

When I investigated this issue for a while i noticed that Excel does not add "t" attribute for non-text cells (tested with numbers, dates, currency, percentage and general format) at all. I have a fix

[2016-08-17 21:21] bdunbar22 commented on #21
Hi,

I am trying out xlsx-template to help in generating some excel documents and had the same corruption error on a Windows machine.

I tested these fixes on excel 2010 on Windows and they fixed the file corruption problem for dates and numbers.

Thanks!

[2016-08-24 02:23] pazalvin opened #23 "Can i write image in xlsx template?"
Can i write image in xlsx template?

[2016-09-01 14:17] pentium100 commented on #23
try this one: https://github.com/pentium100/xlsx-template
I forked, support image insert.

[2016-10-14 15:10] pazalvin commented on #23
hi @pentium100 how did you write images? via base64? did you have a sample? so i can pattern it thanks in advance :-)

[2016-11-03 22:43] marcus2vinicius commented on #23
@pazalvin
`var photo = new Buffer(base64String, 'base64');`
in excel
`${image:photo}`

[2016-12-15 18:18] gpiccolo opened #25 "How to download directly without write file on disk?"
I tried to download from an angularjs application an excel file (xslx) generated thorough a nodejs application with this library. The data is sent in binary form; I don't save the file on the server, but directly send the stream of data in the express response.

This is the server-side snippet code

[code]

and this is the client-side snippet code

[code]

the file is getting downloaded but it see

[2017-01-01 17:28] #14 closed

[2017-01-01 17:28] #25 closed

[2017-01-01 17:28] #23 closed

[2017-01-01 17:28] #20 closed

[2017-01-01 17:29] #19 closed

[2017-01-01 17:29] #16 closed

[2017-01-01 17:29] #7 closed

[2017-01-01 17:36] #21 closed

[2017-01-10 05:00] SemihGk opened #27 "Dynamic Header Support"
Hello,

First of all, this is super helpful library. Thank you for your support. I am wondering that how can I do dynamic headers(nested dynamic headers)?

For instance,
[code]
and I want to print this array in this format:

I thought this way, but it did not work out:

[code]

but it prints

if this lib supports this feature, please let me know how can I do that? Thanks a lot for any kind of help

[2017-01-12 22:58] parifuture opened #28 "using mssql stream and no function available"
I am using using the mssql connector in node and have the stream option enabled. The reason being  the record set getting returned is big (more than 60K) and I want the whole process of generating the excel consume less memory on the server and create the excel a little faster.

Now when calling the template.substitute function it basically removes the placeholders and then all the rows that are r

[2017-01-18 06:05] atomantic opened #30 "dimension is null (Cannot read property 'attrib' of null)"
When trying to add a table with multiple rows I get this error:
TypeError: Cannot read property 'attrib' of null

traced down to this:
[code]
dimension turns out to be null
[code]

[2017-01-18 06:35] atomantic commented on #30
I commented out this block: https://github.com/optilude/xlsx-template/blob/master/lib/index.js#L243-L252

and it works fine--so I imagine you could wrap that whole thing in a `if(dimension){}` :)

[2017-01-18 20:01] atomantic opened #31 "Table replicated formulae saved as text instead of formulae"
not sure if this is a restriction of both excel and google sheets needing to have a special event action to mark a cell as being a formulae, but I hit this snag:

In my sheet template, I have a cell with this value: `${table:fills.usdChange}`

in the values I pass in to substitute, I have an array of fills with an object keypair like this:
[code]

when I execute and open the sheet in excel or goog

[2017-01-18 20:47] atomantic commented on #31
It looks like I want to add something like:

[code]

into the substituteTable function, but all my attempts are failing to get it to trigger saving these cells as functions.

[2017-01-18 20:53] atomantic commented on #31
I just realized I can't really replicate the references in the formulae without a bunch of add-on features to this parser anyway (otherwise they will all statically map to the row values inside the string. maybe I'll just deal with having to manually clone after processing...

[2017-01-18 21:23] atomantic commented on #31
FYI in case anyone else has this issue, I've solved it the quick and dirty way, by implementing a second library--so I'm getting the goodness of the token replacement from this library with the explicit setFormula ability of xlsx-populate :)

[code]

[2017-01-18 21:23] #31 closed

[2017-01-23 16:46] phra opened #32 "generate typings definition for typescript usage"
hi.

it would be nice have also the typing definitions of this library in order to use it seamlessy within a typescript project.

[2017-02-13 12:04] sanderd17 opened #33 "Documentation improvement: how to write file"
When I tried this at first, I always received corrupt files. I opened it with a text editor, and saw a lot more XML than I'd expect in a zip.

The reason was that I used `fs.writeFile(fileName, data)` instead of `fs.writeFile(fileName, data, 'binary')`.

It might be worth mentioning this in the docs

[2017-02-17 00:24] tnhu commented on #27
+1

[2017-03-10 06:33] sultan99 opened #36 "Defined formulas are not calculated"
In excel templates I define some formulas `=sum(C10)` but on the final generated file the formulas are equal to zero. After clicking the cell where formula was defined the value appears.
I have checked 'on' the option `formula auto-calculation` in my Excel and still it is not helping. I have to click all cells manually to trigger the calculations.

[2017-03-24 06:51] ksrikanthreddy commented on #36
Having same issue with formulas

[2017-03-27 10:47] phra opened #37 "escaped unicode char breaks excel generation"
hi,

if you print a string containing an escaped unicode character (e.g. \u0010), the generated excel is corrupted. atm i will strip any unicode character in order to make it working but it would be nice have utf-8 support or automatic stripping of unicode chars.

[2017-04-21 04:51] vinusorout opened #38 "how to export the generated blob data using express"
how to export the generated blob data using express?

[2017-04-21 05:03] #38 closed

[2017-05-14 01:55] pencilcheck commented on #33
Perhaps a pull request? Just change the README.

[2017-05-14 02:13] pencilcheck opened #39 "Hyperlink support"
That would be awesome!

[2017-05-20 05:49] roymap opened #40 "no re-calculating"
We set up a simple XLSX with two variables and then a cell that adds those two cells together.  When we substitute the two variables and save the new file, the 3 third that has the formula didn't re-calculate.

[2017-05-23 21:25] roymap commented on #36
+1

[2017-05-27 06:20] thearabbit opened #41 "have any example repo?"
have any example repo?

[2017-06-05 11:22] phra commented on #32
any update on this? it's a problem working with this library and have 'noImplicitAny' set to true in tsc config..

[2017-06-15 14:05] srova commented on #36
See pull request #42

[2017-07-17 18:23] rikkertkoppes opened #44 "Adjust columns widths to match"
Love the idea and implementation, one thing I ran into is that the columns widths need to be adjusted to match the strings inserted in a table or array. I have not yet found a proper way to do that.

The only thing that I came up with is that in the worksheets xml, there can be cols and col elements that define a custom with for the column. e.g:

    <cols>
        <col min="6" max="6" width="27.7

[2017-07-17 19:58] rikkertkoppes commented on #44
I implemented a (very) crude start like this:

    Workbook.prototype.fixColumnsWidths = function(sheetName) {
        var template = this;
        var sheet = template.loadSheet(sheetName);

        //get all the cells (and contents) in the worksheet
        var cells = sheet.root.findall('./sheetData/row/c').map(root => ({
            root,
            ref: template.splitRef(root.attrib.r),

[2017-07-19 17:24] rikkertkoppes opened #45 "proposal: scopes by named ranges"
I'd like to propose adding scopes to xlsx-template. This would introduce a lot more flexibility, like deeper and repeated structures. I think one way to do this is by using named ranges. Here, I'd like to discuss it a bit before taking a stab at implementing it.

I like to hear your opinions, objections, use cases and questions.

# scopes by named ranges

If we have a json structure like so:

[2017-07-25 13:59] amenadiel commented on #38
Just in case someone else needs an example for this

[code]

[2017-07-25 15:19] amenadiel opened #46 "Is this project abandoned?"
@optilude if you don't have time anymore to keep an eye on this project, perhaps you could appoint some collaborers to keep the project alive.

I believe it's awesome and solves a functionality that every other XLSX manipulation library is missing right now.

Currently, I've had to resort to @woodenfish fork to adress the issue of appending merged cells to a table, which is the only showstopper fo

[2017-07-26 07:59] optilude commented on #46
For some reason I don't seem to be receiving notifications except when @'d :-(

I have limited time for this but @kant2002 picked up a bunch of changed and has npm rights. Maybe he can help?

[2017-07-26 10:30] kant2002 commented on #46
@amenadiel if you have some PR, could you sent them against my fork?

[2017-07-27 18:01] amenadiel commented on #46
@kant2002 so you can create a new tag and publish it to npm? That could become a little confusing for people that will still leave their issues in this repo.

However, the PR I'm talking about is #18 whose author is @woodenfish. I'll ping him to see if he's willing to update his code and make his changes against current HEAD, since his fork was made several months ago and it's now 26 commits behin

[2017-07-28 08:19] antfu commented on #46
@kant2002 @optilude Would you like to add a few lines to README in this repo mentions about this thing? That will help people to contribute this project. Thanks.

[2017-07-28 11:25] kant2002 commented on #46
Other option is @optilude give me ability merge to this repro, that could probably solve issue that people going here instead of my fork.

[2017-07-28 11:26] optilude commented on #46
Happy to do that. I'm on holiday until mid August but will do it as soon as I can.

		Martin Aspeli

On Fri, Jul 28, 2017 at 12:25 PM +0100, "Andrey Kurdyumov" <notifications@github.com> wrote:

Other option is @optilude give me ability merge to this repro, that could probably solve issue that people going here instead of my fork.

—
You are receiving this because you were mentioned.
Reply to this

[2017-07-28 11:31] kant2002 commented on #46
Enjoy your vacation 🍹

[2017-08-08 08:14] tac-aymeric opened #47 "Replacing with a 1 cell-sized array not working?"
Hi,

First, thanks for the project, it's great :)

I'm trying to substitute a placeholder to put an array, but i've been in trouble when inserting a 1 cell array. Here is an exemple :
My excel template is just : | ${table:sales.payments} |
My code :
[code]

The strange thing is, with ```data = {
   "sales": [
      {
         "payments": [123,456],
      }
   ]
};```, it works perfectly, but with

[2017-09-03 16:46] optilude commented on #46
Hi,

I think I've invited you to the repo now on GitHub. Let me know when you
manage to accept that.

Martin

On 28 July 2017 at 12:31, Andrey Kurdyumov <notifications@github.com> wrote:

[2017-09-03 18:25] kant2002 commented on #46
I did accept invitation. Will take a look at PRs

[2017-09-13 16:48] kant2002 commented on #45
This looks like a good proposal and really good value for this library. I does not have obivious issues with proposal. Even if you don't have time now for implementing it, this proposal could be used as reference for such functionality which is clearly needed here.

[2017-09-13 16:50] kant2002 commented on #32
@phra did you have your typings? Do you still need them? If so drop a line, so they could be implemented.

[2017-09-13 16:52] kant2002 commented on #47
For start - Sorry for long delay. Original author was on vacation and only now I accept his invitation.

This is definitely an issue. I will take a look at it and try to reproduce.

[2017-09-14 18:02] phra commented on #32
i'm not actively using it anymore but for sure people can benefit from typings.

[2017-09-16 18:41] kant2002 commented on #30
Fixed in 0.1.1

[2017-09-16 18:41] #30 closed

[2017-09-25 18:30] vheuken opened #55 "Accessing array elements"
It would be nice if I could pass in an array and simply do `${foo[0]}` in the template. Right now, for my use case, I have to do this in my code:

[code]

[2017-09-25 22:56] kant2002 commented on #55
@vheuken Could you try version `xlsx-template@next`

[2017-09-25 23:00] kant2002 commented on #47
@tsc-aymeric Could you try `xlsx-template@next` and use `${table:sales[0].payments} inside your templates. I recently add ability to use array indexer for simple cases, but did not specifically check your case. Possible that it will work, but I don't strictly test for such scenario.

Let me know how it is goes.

[2017-09-26 05:47] 0xCAFEADD1C7 commented on #47
Hey, thanks for the attention you gave to my issue. :-)
I can't test right now but i'll do it as soon as possible. However, the problem I had was my array does not have a fixed size. It's generally larger than 1 cell, and there is no problem is such cases. But it happens that its size is 1, and then the substitution is not made. So I can't change my template to ```${table:sales[0].payments}``` wit

[2017-09-26 05:50] tac-aymeric commented on #47
Hey, thanks for the attention you gave to my issue. :-)
I can't test right now but i'll do it as soon as possible. However, the problem I had was my array does not have a fixed size. It's generally larger than 1 cell, and there is no problem is such cases. But it happens that its size is 1, and then the substitution is not made. So I can't change my template to ```${table:sales[0].payments}``` wit

[2017-09-26 06:48] vheuken commented on #55
Will try tomorrow. Thanks!

[2017-09-28 21:45] vheuken commented on #55
Works as expected. Thanks again. Excellent work you've been doing maintaining this library!

[2017-09-28 21:45] #55 closed

[2017-09-30 23:47] kant2002 commented on #47
I think I finish with your issue @tac-aymeric , could you please try `npm I xlxs-template@next`. Hopefully it will fix your issue since I reproduce your problem.

[2017-10-07 21:49] kant2002 commented on #46
I think I made some progress, so this issue could be closed now.

[2017-10-07 21:49] #46 closed

[2017-10-31 03:02] SkyKilla commented on #47
I ran into the same error, in my project.
In most cases, database query return more than one row. So, table substitution works fine. But if query returns exactly one row, placeholders rewrites with empty values, and generated report shows nothing.
xlxs-template@next dont fix this error.

[2017-11-18 03:54] peterhpchen opened #64 "Get same value in diff sheet"
I have a ${page} which outputs page number for every sheet.
Problem is every sheet ${page} would be the same.

In the subsititueScalar, It replace String for sharedStrings.

[code]

So it would not substitute again because the string in sharedStrings is already replaced at first time.

When I comment replaceString in function substituteScalar, this problem is fixed.

Any Idea?

Thanks.

[2017-11-18 09:37] kant2002 commented on #64
Could you share simple XLSX which exhibit problem and simple data which I should pass to the XLSX template?

[2017-11-18 18:51] peterhpchen commented on #64
[template1.xlsx](https://github.com/optilude/xlsx-template/files/1484916/template1.xlsx): This is sample template: it has two sheet, both have a ${page}.

It is my sample code below:
[code]
sheetNumber is changed by 'for loop', but both sheet is output 1.

[2017-12-06 08:09] evanslify opened #65 "Table with an array of 1 causes problem"
[code]

With a input like this

![image](https://user-images.githubusercontent.com/13075218/33651125-b2157bf4-da9f-11e7-8205-7bfed7b908d1.png)

Would result a file which excel would complain upon opening.
This is due to duplicate element inside `sheet1.xml`.

[code]

[2017-12-06 08:10] evanslify commented on #65
Please see https://github.com/evanslify/xlsx-template/commit/796b7f1c4a76d618fa26b4b452b22b14fd35d51f

[2017-12-06 12:28] marcus2vinicius opened #66 "There similar projects"
There similar project tha run with angular or with browser js?

Thank you

[2017-12-06 17:07] crutch12 opened #67 "copySheet and deleteSheet selects all sheets"
Hi

When I use template.**copySheet** or template.**deleteSheet** and open generated xlsx file with MS Excel, it opens with all-selected sheets:

![grvtfhi](https://user-images.githubusercontent.com/19373212/33674387-642abcee-dac0-11e7-98b2-1f033b8319f0.png)

That means that if you don't choose another sheet, all sheets will change with current (if you in Excel set cell A1 = asd in current sheet,

[2017-12-06 22:56] HerveNivon opened #68 "Placeholder in table header names may lead to corrupted generated xlsx file"
Using an object to substitute placeholders in table header names results in an Excel file that needs to be repaired while the replacement is done. Templates are joint.

This works fine:
[code]

This doesn't:
[code]
[template1.xlsx](https://github.com/optilude/xlsx-template/files/1537163/template1.xlsx)
[template2.xlsx](https://github.com/optilude/xlsx-template/files/1537164/template2.xlsx)

[2017-12-07 09:36] evanslify commented on #65
I have monkey-patched to prevent this double-insertion of cells, but a better way of fixing it could be of use.

[2017-12-11 16:24] #64 closed

[2018-01-16 05:54] cscan opened #70 "formula scalar"
Is it possible to define the scalar as an Excel formula? For example, I defined the JSON { a: '=concatenate("A1")' } and I put "${a}" in Excel template.

[2018-01-16 08:27] cscan commented on #70
I achieve by modified the following codes:
[code]

[2018-01-17 14:37] DebbautSara opened #71 "Single entry in array not shown in xls"
Situation:  I need to show one or multiple data entries in an xls.
When I have 2 or more entries, everything is perfect, xls gets rendered with the correct headers in the columns.  When I have 1 entry, only the headers are generated in the xls.

Current workarround: When the array.length == 1, add an empty entry to the array. In the xls only one entry is shown because the second entry is empty and

[2018-01-17 14:41] DebbautSara commented on #47
Similar issue here, created a new ticket for this! #71

[2018-01-18 09:16] cscan opened #72 "How to put null value in the placeholder"
I put an empty string, but Excel does not treat empty string as null value. Anyway to put exact null value in placeholder?

[2018-02-02 08:11] 11et401012 opened #73 "I want nested array of object like this........"
var values = {
                         people: [
                              {
                                 vendorType: 'Decorator', name: "", age: 0, city: '',
                                 data: [{ vendorType: '', name: "Bob Johnson", age: 22, city: 'mumbai' },
                                 { vendorType: '', name: "Bob Johnson", age: 22, city: 'mumbai' },

[2018-02-07 11:23] Pluto100500 opened #74 "Is it possible to merge cells?"
Is it possible to merge cells?

[2018-02-20 06:55] Sedjj commented on #71
I tried to examine the source code and found the condition that leads to this bug.

[code]
here it must be replaced by `substitution.length <= 0`
[code]
I do not know how this will affect the rest of the functionality, but it is necessary that the developer looked!!

[2018-02-20 06:57] Sedjj commented on #47
I tried to examine the source code and found the condition that leads to this bug.

[code]
here it must be replaced by `substitution.length <= 0`
[code]
I do not know how this will affect the rest of the functionality, but it is necessary that the developer looked!!

[2018-03-27 08:04] benwiggins commented on #47
We've been running a forked version with that same fix for a few months now without issues.

[2018-05-08 11:38] kant2002 commented on #71
Released in 0.3.0 Please verify that this is solved your issues

[2018-05-14 09:35] #71 closed

[2018-05-19 07:42] evanslify commented on #65
After 6 months. Ping. @optilude

[2018-05-19 07:42] evanslify commented on #65
After 6 months. Ping. @optilude @kant2002

[2018-05-19 12:09] kant2002 commented on #65
@evanslify sorry for missing this. If you made PR, I review and very likely accept it.

[2018-05-26 11:40] optimistex commented on #74
I implement xlsx template engine: https://github.com/optimistex/xlsx-template-ex
It bases on exceljs. Try it. May be it will be useful for you!?

[2018-05-26 11:41] optimistex commented on #73
@11et401012 I implement xlsx template engine: https://github.com/optimistex/xlsx-template-ex
It bases on exceljs. Try it. May be it will be useful for you!?

[2018-05-26 11:42] optimistex commented on #15
I implement xlsx template engine: https://github.com/optimistex/xlsx-template-ex
It bases on exceljs. Try it. May be it will be useful for you!?

[2018-06-20 07:39] ivantgco opened #79 "combine cells work only for first row in table"
In template cells is combine, but when report is generate only first row has adjusted styles. see screenshot.
![image](https://user-images.githubusercontent.com/7314624/41644252-30d2bcfc-7476-11e8-9903-b57dbfc27bc2.png)

Thanks!

[2018-07-16 15:15] harrisonleong opened #80 "Help repeating cell validation per row"
Dear Team,

I am populating xlsx from an array of objects, it works perfect. And I also define a cell validation drop down list too as the last column of the XSLS template.
After the generation, only the 1st row has the drop down list in place, but not the subsequent row.... any hack I can try?
![image](https://user-images.githubusercontent.com/39327865/42766869-1c823f60-894e-11e8-8dd7-7ea6175e4df

[2018-07-29 19:00] dreamniker commented on #15
some problem :C

[2018-08-10 08:53] romkadj opened #82 "Implement {people: {users: [{name: "John Smith"}]}}"
var values = {
            people: [
                {
                    name: 'John Smith',
                    age: 20,
                    test: { name: 'Smith' },
                },
                {
                    name: 'Bob Johnson',
                    age: 22,
                    test: { name: 'Johnson' },
                },
            ],
            people: {
                users

[2018-08-20 15:09] massinissa2k opened #85 "Charts not copied"
Hello,
I'm using the v0.4.0
The copySheet did not copy the charts!

[2018-09-12 06:16] bobrovskayaa opened #86 "Copy Shhhet"

[2018-09-14 14:36] kant2002 commented on #86
This looks very similar in nature to #85 . Unfortunately I lack of cycles to fix that particular issue. But if you could add PR with changes and cover that with tests, I gladly accept your contribution. Usually it happens very fast. See #87 for possible turnaround times 😄

[2018-10-12 03:56] nmquaan opened #89 "Add image into template"
Hi @optilude ,
This is a useful package.
I'm very happy to use it, but I want to add an image into the template, so I have to use another package so this does not interest me, so I hope to support more images.
Please help me!
Thanks for the support!

[2018-10-16 00:35] dtiziani opened #90 "Supporting Compression - JSZip"
Hi, I just made some tests with this library, and it seems pretty good, but I'm having issues generating excel files that are huge in rows (500k to 1m rows).

I've tried enabling compression, but Excel does not open the resulting file, saying it has an invalid extension.

The lines I've used:

[code]

I've tried to just let compression: "DEFLATE" as well, no sucess.

[2018-11-01 09:43] fasdalf commented on #90
generating XLSX with fresh install makes file with broken archive:
$ unzip result.xlsx
Archive:  result.xlsx
error [result.xlsx]:  missing 1120009233 bytes in zipfile
  (attempting to process anyway)
error [result.xlsx]:  attempt to seek before beginning of zipfile
  (please check that you have transferred or created the zipfile in the
  appropriate BINARY mode and that you have compiled UnZip pro

[2019-01-27 01:07] ievgennaida opened #91 "Suggestion: Can I mark a column with color?"
It would be great also to specify some basic styling for a content.

[2019-02-12 07:49] ngoctai999 commented on #39
when to support this issue

[2019-02-26 20:07] pwarelis commented on #91
The idea of a template is that you can apply colors to your layout inside the template.

[2019-02-26 20:10] ievgennaida commented on #91
Sometimes you need to highlight some cells. For example, cells were modified by the user, and a now I have to use another xslt writer with a xlsx-template to achieve that.

[2019-02-26 20:12] pwarelis commented on #82
There is no "peopleGroup" field in your values

[2019-02-26 20:44] pwarelis commented on #91
This package does not do dynamic styles. Maybe update your question

[2019-03-15 12:52] papb commented on #89
@nmquaan May I ask which other package you decided to use? Thanks

[2019-04-02 16:43] ed-vieira opened #92 "Documentation improvement: using in nodejs"
I was trying to create a file only in memory and download it, and it took me hours to figure it out, i couldn't find anything even in Stack Overflow and lots of programming blogs elsewhere, but when "give up" is not an option... you get there.
 i'm suggesting to you guys to just improve a little more the documentation
 and thanks a lot for your work, it saved my day.

 the following lines of code

[2019-04-12 13:01] dbykadorov commented on #82
@romkadj example contains missprint, this is right. However, arrays in nested objects not rendered.

`{
  rows: [
    {name: 'foo'}
  ],
  rowsNested: {
    rows: [
      {name: 'foo'}
    ],
  }
}`

`${table:rows.name}` - work
`${table:rowsNested.rows.name}` - not work

[2019-04-12 17:02] pwarelis commented on #82
You can nest objects, not arrays. Nesting an array inside another makes your data structure three dimensional. How do you represent that on a spreadsheet?

Why don't you flatten all your arrays before you pass it to the generator?

[2019-04-12 18:03] dbykadorov commented on #82
@pwarelis I'm not familiar with this lib yet but yes - I just did the same thing - moved array on top level of object passed into template =)

[2019-04-29 06:01] alex-jss opened #93 "insert columns"
Is it possible to insert columns (month_1, ..., month_N) from an array if their number is initially unknown?
The number of columns I can have from 1 to N, as well as rows in each column
My array looks like this:
[code]
[template.xlsx](https://github.com/optilude/xlsx-template/files/3126085/template.xlsx)

as a result, the data file should be obtained by example 'template.xlsx'

[2019-05-06 19:25] steffi80 opened #94 "Question:build table with a single placeholder"
Is it possible to replace the whole table with a single placeholder like ${table:people} ?

[2019-05-08 19:22] flexfunds commented on #92
How can you send the object buffer in this example over an express response and make it downloadable in the client's browser?
Something like:
[code]

[2019-05-08 20:45] ed-vieira commented on #92
You just need to return something like this:

in your class

    customBuildDownload(){

      let input_file = path.join(__dirname, 'templates', 'template.xlsx');

      // let sdate= new Date("d-M-YYYY").toString()

      function GetFormattedDate(date){
           let day = date.getDate();
           let month = date.getMonth() + 1;
           let year = date.getFullYear();
           let hours

[2019-10-22 21:45] tiholic opened #95 "Values in calcChain are not updated `#VALUE!` is shown instead"
[code]

The output file is expected to have updated values for cells with formulae, instead it shows `#VALUE!`

[2020-06-10 11:18] dhunt84971 commented on #92
@ed-vieira Just want to say that you are my hero.  I also failed to find an example that offered the complete code both server side and client side.  Your example fixed my major problem which was encoding.  Only {type: "nodebuffer"} worked for me.  Everything else returned a corrupted file format.  Thanks!!!

I do agree that a complete example of both server and client side in the documentation wo

[2020-06-15 00:46] partyka1 opened #98 "Question: is it possible to rename sheet?"
Hi! First of all thanks for super helpful lib
Is it possible to rename sheet?
Thanks!

[2020-06-16 07:10] varunnaik opened #99 "Release notes/changelog"
This is more of a tech niggle, but would it be possible to provide release notes or a changelog, as it is unclear if the bump from 0.5.0  ❯  1.0.0 has introduced any breaking changes. Also there is no release for 1.0.0 in this repository though it is present in npmjs.

[2020-06-16 07:13] kant2002 commented on #99
Thanks for suggestion. I do no longer actively use that package, so my support is more of the validating that existing code works and do not do very big changes. 1.0.0 bump was more indication that I see current API as stable, given how long it was there. But you are right, I should find time and do proper release management.

[2020-06-16 12:15] RW-DiefBell opened #100 "Cell Formatting Isn't Applied"
So in my table I have one row that is formatted as hh:mm, which I'm filling with a string. I've tried using strings in both the hh:mm and hh:mm:ss format, but when the document is opened, Excel doesn't register them as being in that format, so I must manually edit the cell (I can just open it and press return) for it to register. I need it to do this so that these values can be summed in a pivot t

[2020-06-18 17:21] goyney opened #102 "Add license to package.json"
Can you please add the required `license` property to the `package.json` file?

Thanks!

[2020-07-05 16:50] tiholic commented on #99
@kant2002 can you release a new version after the type definitions update?

[2020-07-07 14:27] kant2002 commented on #99
@tiholic I publish release to NPM and add small release noted in the Release section of GitHub.

[2020-07-07 14:27] #99 closed

[2020-07-07 14:42] #102 closed

[2020-07-07 14:42] kant2002 commented on #102
Released in 1.2.0

[2020-07-07 17:49] kant2002 commented on #32
It start appears in the repo, so it is a start. Thank for suggestion.

[2020-07-07 17:49] #32 closed

[2020-07-07 17:53] kant2002 opened #105 "Migrate to TypeScript"
@tiholic I in principle not against TS. Even more, I'm more then welcome it here. if you can keep changes as small as possible, so I can review them. Maybe first introduce TS just as compiler validation, and only then do heavy lifting like conversion to classes.
Tests likely has to be converted as well.

So I see plan like this:
- [ ] Introduce check of JS using TSC
- [ ] Convert code to TS
- [ ]

[2020-07-07 19:05] tiholic commented on #105
Sounds like a plan. Let me see what I can come up with.

[2020-07-07 19:25] tiholic commented on #105
So, after messing around with the source a bit:

1. Upgrade JSZip to latest - as older version of JSZip doesn't have types in built, where are the latest one does. This requires to make `loadTemplate` an `async` function
2. checking JS using TSC raises tons of concerns. It would be better to first convert the source to ES6 class without change any changes in the code flow.

After this, we can foll

[2020-07-07 20:41] tiholic commented on #105
Take a look at #107 addressing point 1 above

[2020-07-22 02:01] longcn13a opened #108 "Missing value when exporting excel"
Dear Team,
I export to excel with a string (" HelloWorld"), but when display on excel is missed a space ("HelloWorld"). I want keep value origin.Could you help me,please ? Thanks so much 🙇
Kim Long

[2020-07-23 03:44] longcn13a commented on #108
I have find solution. add a line code below:
[code]

[2020-08-07 02:41] lcyin opened #117 "Allow to access protected function when useing Typwscript"
First, thanks for this awesome package.

I have use some function of Workbook in my program under Typescript environment since version 0.5.0.

Recently, I upgrade to latest version and found it is support with Types now which is great for me.

However I found that it can not instantiate new XlscTemplate() with this error

`This expression is not constructable.
  Type 'typeof import("/Users/bit077/

[2020-08-08 09:19] kant2002 commented on #117
@lcyin I think I can help with error "expression is not constructable". The fix should be in the next couple hours.
On the other hand exposing `getCurrentRow` does not seems to be as good idea. Can you tell me more about scenario why do you need this?

[2020-08-08 09:32] kant2002 commented on #66
Hi. Not sure about them. Since it was long time ago, I will close the issue

[2020-08-08 09:32] #66 closed

[2020-08-10 08:12] lcyin commented on #117
@kant2002

 Thanks for the Typescript support!

In my scenario, I have another placeholder mechanism  to get value from placeholder map and substitute string by column. Then, I use servals functions from package itself to achieve that. `getCurrentRow ` is one of the these functions.

[2020-08-10 09:53] kant2002 commented on #117
@lcyin maybe you can have some idea on what kind of API do you want to have?
currently `getCurrentRow` does not seems to be very useful for end-user. I understand that you want to achieve some tricky scenario. But maybe, just maybe it can be exposed in better way?

BTW. As quick workaround I can try to comment `protected` declaration, and you can augment using typings for yourself.
Also you can cu

[2020-08-13 09:37] jdugh opened #122 "Adapt definedName when use tables dataSet"
Hy @kant2002,

I have a Excel sheet with pagebreak layout.
If I add a table dataSet in the page 1, the page break don't moved.
I whant to move my pageBreak as far as tables substitution.
I have make this change :
[pushdown BageBreak with tables substitution](https://github.com/jdugh/xlsx-template/commit/a563a1bffb7acba54caaaf809c5536368f4fbfdd)

But some of test has broken.
What do you think about

[2020-08-13 11:17] kant2002 commented on #122
Yes. I want to be as much compatible as possible. I.e. goal 100% compatibility. So please go with new option. Please create new test to validate that option. That way we will know that we care about your case.

[2020-08-13 11:18] kant2002 commented on #89
Closed by #121 if this is not enough, please create new issue.

[2020-08-13 11:18] #89 closed

[2020-08-13 11:24] jdugh opened #123 "Copy all the line when substitute Tables"
Hi @kant2002,

When I use a table dataset, I want to copy all the row, not just the substitute cell in the row.
If I have some text, or empty cell with style, or merge cells, (or something else), I want to copy that on each new row.

I want to request a proposition, but I am not sure on my code, my example is there :
[adding all the other cell when substitute an table](https://github.com/jdugh/xls

[2020-08-13 11:37] jdugh commented on #122
Ho yes ! I had not thought of with an option, all other tests would be good. Ok so good ! wait for the next PR

[2020-08-14 07:40] #123 closed

[2020-08-14 07:40] jdugh commented on #123
[Fonctionnality propose in this PR](https://github.com/optilude/xlsx-template/pull/124)

[2020-08-14 07:40] #122 closed

[2020-08-14 07:40] jdugh commented on #122
[Fonctionnality propose in this PR](https://github.com/optilude/xlsx-template/pull/124)

[2020-08-14 08:16] lcyin commented on #117
@kant2002 Sure! It definitely help me a a lot. I will review my scenario see if there are better implementation. Thanks!

[2020-08-17 15:26] HcyPan opened #125 "Table Insert Row"
When creating a table, its insert new rows.
Is there a way to make the table stop inserting new rolls and writing to the cells below?

[2020-09-17 08:48] DoveAz opened #127 "why the version on this npm is different"
There is no image related method

[2020-10-19 20:18] thomas-p-wilson opened #128 "Tabular formatting"
Loosely related: #91

Generally, it seems that in-template formatting, including conditional formatting, works as expected. Great!

The one area this falls down for me is when producing tables. I have a table which may contain empty values, which I wish to highlight a specific color. If I conditionally-format the cells appropriately in the first row, which contains the substitution keys, that firs

[2020-11-17 03:34] cscan opened #129 "Stream substitution"
Hello Thanks for the effort in creating this component.

When I called the substituion(sheet, data) multiple times, the result Excel only reflect the last time I place the data. Is it possible to change it as appending? I want to stream the process for memory purpose. If the generate() can also support streaming, that will be perfect

[2020-11-20 16:49] xsudiptaster commented on #82
I have a list of object which are dynamically grouped which basically means I have a nested Array.
We represent those in a spreadsheet into multiple groups of tables. our sample JSON :
{
  "ParentName": "Testunt",
  "Description": "This is tEst Description Show me",
  "TesVal": "",
  "GroupedList": [
    {
      "GroupName": "asdasddfs",
      "GroupList": [
        {
          "TotalNumber": 23,

[2020-11-25 21:04] fabianmedina09 opened #131 "Error building with Node +Nest"
Hi,

I run the next build command: `rimraf dist && nest build `

And this is the result
![image](https://user-images.githubusercontent.com/18604685/100281276-9ede2f00-2f37-11eb-9375-f0f52e732413.png)

This is happening in version 1.3.0 that adds this:
Added support for optional moving of the images together with table

Solved working with versión 1.2.0, but maybe someone needs support to the new f

[2021-01-10 16:55] ywadi opened #132 "Formulae don't repeat in table"
When trying out the formulae, the excel generated is not repeating the column with the formulae.
I have added a table name and column, only the first row is rendered with the formulae and value, but the rest are not

[2021-02-07 10:41] Ola-Alkhateeb commented on #132
you'll have to add the formulae for the whole column , this should work

[2021-02-07 10:45] Ola-Alkhateeb commented on #132
@ywadi  you'll have to add the formulae for the whole column (or add a selected range eg: E3:E1000 ), this should work

[2021-02-28 13:39] ravi-poonia opened #134 "Image is added as a string"
I'm trying to add to a cell, I have used the absolute path, base64...it's not working. I even used Base64 from the tests just to make sure.

Whatever I use, it's inserted as a string instead of an image. Am I missing something?

[2021-02-28 14:22] ravi-poonia commented on #134
When I ran the tests in my local, it worked perfectly

But when I tried the image  insert test with my nodejs app, got string instead of an image

[2021-03-01 06:45] ravi-poonia commented on #134
After some more testing, it seems the issue is due to the package versions...either image-size or jszip, once I manually added the lib file and added the packages with the same version specified in the repo, it started working. I'll see if I make the repo work with the latest version of the dependencies. I'm closing it for now. Thx

[2021-03-01 06:45] #134 closed

[2021-03-02 22:37] RactivussDevs opened #135 "Images not working"
Hi! I'm using version 1.3.0 of xlsx-template but I can't make images work. This is my .docx template:

| My image: | ${image:imageName} |

Just like in the example, and this is my code:

const data = {
imageName: //... buffer
};

I already try with a 'base64' image or an absolute path, but nothing.

Thanks in advance.

[2021-03-03 11:04] CSMcrew commented on #135
Having same issue:
    "xlsx-template": "1.3.0"
    Node.js v14.16.0.

In the demo project local  version is used:
var XlsxTemplate = require('../lib'), and it differs with  "1.3.0" from NPM

RactivussDevs, did you solve your problem ?

[2021-03-03 17:25] RactivussDevs commented on #135
No, I couldn't solve it. And I use a .docx template named as 'template.docx'. I'll try that '../lib' import and see what happens.

[2021-03-03 18:49] RactivussDevs commented on #134
What version of xlsx-template are u using? And do I need to install image-size and jszip packages? What does this packages work for?

[2021-03-04 14:36] ravi-poonia commented on #134
These 2 are dependencies of the library. They are probably used to render the image in a cell. Other stuff will still work but the image insert was not working.

[2021-03-07 23:58] serfend opened #136 "[Feature Request]support js/ts evaluation"
it would be more flexible if user can control xlsx template logic without modify front-end code.
for example:
[code]
[code]

[2021-03-17 13:32] gotama commented on #131
Ive got the same issue, Typescript wants you to use number.  If I get time to do this ill submit a PR for changing int to number, However for now im going to downgrade to 1.2.0

@fabianmedina09  could you change the title to have "Cannot find name 'int'."  then atleast other people can find this issue as well

[2021-03-30 06:18] benoitlavorata commented on #134
In case someone is not clear about ravi-poonia ' answer, here are steps to make it work until the package on npm is updated:
- download the zip of xlsx-template somwhere at the root of your app folder, from github, download zip
- add these dependencies to your package.json file
[code]
 - run ```npm install```
 - make sure you call xlsx-template using your local path, something like ```require('./x

[2021-04-20 21:48] enmanuel-mag commented on #135
Same problem:
"xlsx-template": "1.3.0"
Nodejs v14.15.0

I tried with Buffer, Base64 and doesn't working

[2021-04-26 10:34] CSMcrew commented on #135
Still there ((

[2021-07-02 14:31] hydra1983 opened #141 "Generated file is too large as too many cells created."
![image](https://user-images.githubusercontent.com/488235/124289488-f6571400-db84-11eb-9160-3bffbe5606fa.png)

[code]
The origin template size is 94k, the generated one is 659k.

[2021-07-02 14:54] hydra1983 commented on #141
The code below can reduce the result size, but still too many cells created.

[code]

[2021-07-03 10:27] hydra1983 commented on #141
Sorry, the cells are not created by this lib, they are already exists in the template.

[2021-07-03 10:27] #141 closed

[2021-07-06 13:06] werpin commented on #79
same problem

[2021-07-29 05:22] gluhovalexey opened #142 "ts compilation error "Cannot find name 'int'""
node_modules/xlsx-template/lib/index.d.ts:45:54 - error TS2304: Cannot find name 'int'.

45 protected moveAllImages(drawing : any, fromRow : int, nbRow : int);

[2021-08-26 10:43] sidh01 opened #144 "template.generate Buffer() is deprecated due to security and usability issues"
Buffer() is deprecated due to security and usability issues.
 Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

[2021-09-05 14:05] cobraz commented on #105
Maybe you can create a separate branch for converting to Typescript, and I can open PRs towards that? Considering #107, this will be a breaking change, so it would be nice to have some place to iterate and eventually release a new major version.

What do you think?

[2021-09-05 16:35] kant2002 commented on #105
@cobraz  I'm moved back to my favorite C#, so I definitely show lack of love for this project. My general sentiment that such small libraries should avoid hard breaking changes at any cost, and instead of breaking change use deprecation. That's make everybody life easier.

My opinion that such place should be main/master branch. If you think that you can move TS support without introducing breakin

[2021-09-05 20:02] cobraz commented on #105
Sure thing, I agree, let's move on without breaking anything.

Let me have a look at how in a few days 👍

[2021-10-07 10:32] JaviGalindo1 opened #146 "Duplicating values when column in template is number type and formula is send as value"
We have a template which few columns are number type and we send an array of object like:
[code]
When module transform that into the excel template it duplicates the value of the first row with a value:
![image](https://user-images.githubusercontent.com/78592026/136367589-5f93458d-61be-496a-8e94-6a52572103e8.png)

[2021-11-05 02:30] darrylsepeda opened #147 "Change header data"
Hi admin,

I'm curious how to set these header data using xlsx-template:
![image](https://user-images.githubusercontent.com/5493333/140448328-4e806140-4fb2-4011-9050-38aa76a93021.png)

Thank you in advance

[2021-12-08 08:18] nhutthiennguyen opened #148 "loop table with header"
![image](https://user-images.githubusercontent.com/63911831/145172716-25c4a96c-9906-4d3f-bb82-861bf282722e.png)
how can i make this

[2022-02-15 04:01] kant2002 commented on #135
Hi guys. Seems to be I wake up from hybernation. From the discussion it is not clear, are you using `.docx` format and not `.xlsx` files? We do not support template for Word documents.

[2022-02-23 06:48] RyVen-dotcom opened #152 "Excel 2007 cannot be opened when I insert an image"
If I write in the template ${image:xxxxxxx} then Excel 2007 cannot be opened and throw an Error
![image](https://user-images.githubusercontent.com/57699220/155272709-d0609db4-58fd-4a81-8439-265fcf351499.png)，
![image](https://user-images.githubusercontent.com/57699220/155272731-035dcc5b-946c-43a8-b17d-29394ff4d413.png)

[2022-03-10 07:21] ductc-comartek opened #153 "output type when generate file"
I have use this function and expect buffer output, but i get a  string as base64 ?

  const dataGenerate = template.generate('nodebuffer');

What's wrong here ? Thanks

[2022-04-12 00:25] jrj2211 commented on #148
I also could use something like this.

[2022-05-08 00:20] ronxbysu opened #157 "Uncaught TypeError: this._factory is not a function"
test('xls report file should be created again', async () => {

    let values = {
      lastName: 'Тестов',
      firstName: 'Тест',
      middleName: 'Тестович',
    };

    const XlsxTemplate = require('xlsx-template');

    // Load an XLSX file into memory
    fs.readFile(path.join(__dirname, 'Book1.xlsx'), function(err, data) {

      // Create a template
      const template = new XlsxTemplat

[2022-05-09 04:12] kant2002 commented on #157
Couple questions:
- What's NodeJS version?
- Are this is new test or existing one?

[2022-05-10 11:05] kant2002 commented on #157
In the offline chat we discover that changing `fs.readFile` to `fs.readFileSync` at least unblock  the issue. so far there no conclusive reason why issue happens.

I would speculate that when called inside async context this line produce some issues
 https://github.com/racker/node-elementtree/blob/master/lib/treebuilder.js#L8

I waiting for smallest @ronxbysu case and will start troubleshooting fr

[2022-05-31 13:16] wedsonxse opened #161 "Dynamic generate inner table structures"
Supposing that i have data for 3 months, and this number of months can variate, how can i insert structures like the following image for each month? basically inner tables that can be created dinamically.

![image](https://user-images.githubusercontent.com/15806757/171181915-d3230f38-4685-4027-a6b1-76a6297fa383.png)

[2022-06-06 15:28] IllusionVK commented on #135
Hey @AyngDevs (or @CSMcrew) Were you able to check if you were using .docx or .xlsx ?

[2022-06-22 19:22] nomoney4me opened #162 "Sheet Autocalculate"
My sheets does not auto-calculate, I had to run `.substitute(sheetName, {})` in each sheet to force formula calculation.
If I am reading this fix correctly (#42), it should have fixed that issue, no?

[2022-06-23 14:29] JeanSamGirard opened #163 "Feature Request / How complicated would it be ?"
Hi !

I'd like to know how hard it would be to use the same syntax but make a formula out of it ?

The problem i'm having is I have a formula in my table that doesn't get replicated on subsequent rows.

I was wondering how hard it would be to allow something like this : {table:array:"=FORMULA()"}
Don't need to adjust Cell references, just keep the formula as is, but copy it down every rows.

Is th

[2022-06-29 04:21] NayOoLwin5 opened #164 "Append more values to sharedStrings of workbook"
My workbook is already loaded with values and placeholders. The total of sharedStrings is now 530. I would like to add(append) more values to the sharedStrings along with a loop.

[2022-06-29 07:00] kant2002 commented on #164
This is library for report generation, why do you want to put values into `sharedStrings` using it?

[2022-06-29 08:26] kant2002 commented on #164
Aah, now it make sense, so you essentially want stream substitution process. And be able append more substitution values over and over again until you done. Is this correct?

# Example
[code]

[2022-06-29 09:47] kant2002 commented on #164
There no such functionality in the library at the moment. You have to collect all data into one object, and if you are done, then perform substitution.

[2022-06-30 03:35] NayOoLwin5 commented on #164
Understood @kant2002. In addition, does this library support merging multiple excel files into one? If it does, it solves my issue.

[2022-06-30 03:48] kant2002 commented on #164
No, merging of XLSX files should happens via other means. This library is for simple template substitution.

[2022-06-30 03:50] kant2002 commented on #163
That's quite interesting idea. I think it would be relatively easy to implement for somebody who already hack into the project.

Unfortunately I do not aware about other libraries which can satisfy that requirement. But I'm not very active in JS land nowadays, so that does not mean it does not exists.

[2022-07-15 07:36] minhngl opened #165 "It crash with large number rows (> 10k rows) as out of heap memory"
I call function "substitute" with data arrays of more than 10K rows, it crash as Javascript out of memory

 template.substitute(sheetNumber, array_of_data);

![Screen Shot 2022-07-15 at 14 31 14](https://user-images.githubusercontent.com/3446002/179175308-54b466f6-f45d-40d2-ba7a-4d42cc16d86e.png)

Is there any way to avoid this?

Thanks.

[2022-07-25 14:44] Dan-DH opened #166 "Resulting file exceeds the maximum number of rows"
I seem to run into this issue only when using ${table:}. The resulting file is around 10x bigger than the template, and I get an error message when I open it:

"Warning loading document xyz.xlsx: The data could not be loaded completely because the maximum number of rows per sheet was exceeded"

The report itself looks fine, however, and if I save the file, it will decrease to a normal size and the

[2022-08-03 10:06] ecaii opened #167 "Upgrade image-size to atleast 0.6.2"
With the current version of image-size, the xlsx-template package won't work on Electron.

Related issue fixing the issue on Electron: https://github.com/image-size/image-size/issues/39

So image-size should atleast be upgraded to 0.6.2 (I tried with yarn resolution and it works fine with 0.6.3)

[2022-08-04 08:51] dragospaulpop commented on #165
That's the V8 engine running out of memory. By default, node uses a max of 1 or 2 GB of memory (depending on version).
The solution is to just give node more memory. Try running your script with the `--max-old-space-size` flag like this (change 8192, which means 8GB, to whatever you find suitable):
`node --max-old-space-size=8192 your_script.js`

[2022-08-26 13:25] smolleyes opened #168 "image error with 1.3.2"
hi

i have this error with 1.3.2 and can t get any image working with any other version :(

` TypeError: Cannot read properties of null (reading 'asText')
1|extranet-api  | 2022-08-26 15:23 +02:00:       at Workbook.module.exports.Workbook.loadDrawing (/home/srv/websites/batexpert-api/node_modules/xlsx-template/lib/index.js:592:77)`

someone have success adding images with this module ?

thanks

[2022-08-26 13:26] smolleyes commented on #135
i use xlsx and not working too buffer/path/base64 nothing work :/

[2022-08-31 10:08] smolleyes commented on #168
hi

someone still maintaining this module ?

thanks

[2022-09-14 00:27] oscarsinuco opened #171 "Cell formula on iterated table not working correctly"
When using something similar to what is done in the template called test-formula.xlsx (https://github.com/optilude/xlsx-template/blob/master/test/templates/test-formula.xlsx) it does not calculate the result for all iterated rows, in fact it only does it for the first row, how could this unexpected behavior be solved?
![image](https://user-images.githubusercontent.com/42784003/190032120-77b12a2a-e

[2022-09-14 02:44] andychui opened #172 "Substitute function sub null which should be blank into cells do not blank."
I used the substitute function, and the cells will be sub null which blank into do not blank. I can see that they are blank from my eye. But it will return false if I use ISBLANK() to check those cells.

[2022-11-19 03:16] Eraledm commented on #168
Same issue here

[2022-11-19 04:36] Eraledm commented on #168
I forked the repo and it looks like tests are working correctly so I tested with my own xlsx file and turns out an embedded image was breaking this feature:
<img width="420" alt="Screen Shot 2022-11-18 at 10 34 52 p m" src="https://user-images.githubusercontent.com/34149908/202834249-a15112ae-91a0-47b4-8b9c-1fdd55114695.png">
I haven't had time to check the code and figure out what's the real issu

[2022-11-19 05:06] kant2002 commented on #168
If somebody have file and short sample of code that may help troubleshoot an issue

[2022-11-19 06:25] Eraledm commented on #168
Sure,
[test-insert-images.xlsx](https://github.com/optilude/xlsx-template/files/10046240/test-insert-images.xlsx)
The original excel was from a client, I modified it to keep the same format of the testing files so you can delete the image object and validate that the tests passes but if you keep the image then the tests fails

[2022-11-20 10:26] kant2002 commented on #168
@Eraledm can you take a look at release 1.4.0 and I was not able to repro an issue. Maybe you can create some small repro app ?

[2022-11-28 16:35] smolleyes commented on #168
hello

have another problem here... (with 1.4.0)

TypeError: Cannot read properties of null (reading 'asText') at Workbook.module.exports.Workbook.loadDrawing (...node_modules/xlsx-template/lib/index.js:516:77)

 i don t have any image in my template :/

if i add some logs:
drawing.filename = drawingFilename;
drawing.root = drawingTree.getroot();
drawing.relFilename = path.dirname(drawingFilename)